.gradle/
.idea/
config/
js/static/web/js/
js/static/web/js.js
js/static/web/js.meta.js
js/static/web/kotlin.js
js/static/web/kotlin.meta.js
js/static/web/*.js
web/*js.map
build/
common/build/
js/build/
jvm/build/
doc/plantuml.jar
*.iml
web/*.js
web/index.html
js/static/web/index.html
web/favicon.ico
*.kjsm
old_migrated_data.json
